<?xml version="1.0"?>
<config>
    <modules>
        <Sourcefuse_Automoderate>
            <version>0.1.0</version>
        </Sourcefuse_Automoderate>
    </modules>
    <frontend>
        <routers>
            <automoderate>
                <use>standard</use>
                <args>
                    <module>Sourcefuse_Automoderate</module>
                    <frontName>automoderate</frontName>
                </args>
            </automoderate>
        </routers>
        <layout>
            <updates>
                <automoderate>
                    <file>automoderate.xml</file>
                </automoderate>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Sourcefuse_Automoderate>
                            <title>Automoderate of Product Reviews and Product Tags</title>
                            <sort_order>10</sort_order>
                        </Sourcefuse_Automoderate>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
         <rewrite>        
            <sourcefuse_automoderate_tag_indexcontroller>
                <from><![CDATA[#^/tag/index/#]]></from>
                <to>/automoderate/tag_index/</to>
            </sourcefuse_automoderate_tag_indexcontroller>
        </rewrite>
        <routers>
            <automoderate>
                <use>standard</use>
                <args>
                    <module>Sourcefuse_Automoderate</module>
                    <frontName>automoderate</frontName>
                </args>
            </automoderate>
        </routers>
        <events>
            <review_save_after>
                <observers>
                    <automoderate>
                        <type>singleton</type>
                        <class>automoderate/observer</class>
                        <method>autoModerateProductReviews</method>
                    </automoderate>
                </observers>
            </review_save_after>
        </events>
        <models>
            <automoderate>
                <class>Sourcefuse_Automoderate_Model</class>
            </automoderate>
        </models>
        <helpers>
            <automoderate>
                <class>Sourcefuse_Automoderate_Helper</class>
            </automoderate>
        </helpers>
        <blocks>
            <automoderate>
                <class>Sourcefuse_Automoderate_Block</class>
            </automoderate>
            <review>
                <rewrite>
                    <form>Sourcefuse_Automoderate_Block_Review_Form</form>
                </rewrite>
            </review>
        </blocks>
    </global>
    <default>
        <catalog>
            <review>
                <automoderateproductreviews>1</automoderateproductreviews>
                <automoderateproductreviewmessage><![CDATA[Your review has been accepted.]]></automoderateproductreviewmessage>
            </review>
        </catalog>
    </default>
</config>
